/*Palette
-------------------------------------------------*/
$color1: #db2b6b;
$color2: #14ab9b;
$color3: #540d6e;

/*Variables
-------------------------------------------------*/
$shadow1: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
$shadow2: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
$shadow1_top: 0 -4px 5px 0 rgba(0,0,0,0.14), 0 -1px 10px 0 rgba(0,0,0,0.12), 0 -2px 4px -1px rgba(0,0,0,0.3);

%sections {
  height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  box-shadow: $shadow1;
  padding: 1rem;
  text-align: center;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

/*Global rules
-------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
  background-color: gray;
  color: white;
  font-size: 16px;
}

h1 {
  font-weight: 400;
  font-family: "Butterfly Kids", cursive;
}

img {
  max-width: 100%;
}

/*Modules
-------------------------------------------------*/
.dropDwnHeader {
  background-color: $color3;
  height: 3.75rem;
  width: 100%;
  position: fixed;
  box-shadow: $shadow1;
  display: none;
  
  .dropDwnHeader__logo {
    max-height: 3.125rem;
    margin: 0.3125rem;
    vertical-align: top;
  }

  .dropDwnHeader__title {
    display: inline-block;
    margin: 0;
    padding: 6px;
    font-size: 2.5rem;
  }
}

#section0 {
  @extend %sections;
  background-color: $color3;
  font-size: 2.8rem;

  .section0__logo {
    max-height: 50%;
    max-width:50%;
    margin: 5px;
    vertical-align: top;
  }
}

#section1 {
  @extend %sections;
  background-color: black;
  background-image: url("./images/baby-499976_640.jpg");
  background-attachment: fixed;
  padding-top: 4.75rem;
}

#section2 {
  @extend %sections;
  background-color: $color1;
}

#section3 {
  @extend %sections;
  background-color: $color1;
  background-image: url("./images/baby-21098_640.jpg");
  background-attachment: fixed;
}

#section4 {
  @extend %sections;
  background-color: $color2;
}

footer {
  background-color: $color3;
  height: 60px;
  box-shadow: $shadow1_top;
}

// Media Queries
@media screen and (max-width: 480px){
  

}
