/*Palette
-------------------------------------------------*/
$color_pink: rgb(219,43,107);
$color_pink--opaque: rgba(219,43,107,0.6);
$color_green: rgb(20,171,155);
$color_green--opaque:rgba(20,171,155,0.6);
$color_purple: rgb(84,13,110);
$color_purple--opaque: rgba(84,13,110,0.6);

/*Global styles
-------------------------------------------------*/
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Asap', Arial, Helvetica, sans-serif;
  background-color: gray;
  color: white;
  font-size: 16px;
}

h1 {
  font-weight: 400;
  font-family: 'Butterfly Kids', cursive;
  font-size: 13vmin;
}

h2 {
  font-weight: 500;
  font-family: 'Asap', sans-serif;
  font-size: calc(1rem + 4.5vmin);
  margin: 0;
}

h3 {
  font-weight: 500;
  font-family: 'Asap', sans-serif;
  font-size: calc(0.5rem + 4.5vmin);
  margin: 0;
}

p {
  font-family: 'Asap', sans-serif;
  font-size: 19px;
  line-height: 1.5;
  margin: 0 0 1.3em 0;
  margin-block-end: 1em;
  margin-block-start: 1em;
}

li {
  margin-bottom: 0.8em;
  font-family: 'Asap', sans-serif;
  font-size: 19px;
}

img {
  max-width: 100%;
}

/*Variables
-------------------------------------------------*/
$shadow1: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
$shadow2: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
$shadow1_top: 0 -4px 5px 0 rgba(0,0,0,0.14), 0 -1px 10px 0 rgba(0,0,0,0.12), 0 -2px 4px -1px rgba(0,0,0,0.3);
$text_shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

%sections {
  min-height:100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  box-shadow: $shadow1;
  padding: 10%;
  text-align: left;
}

%textbox {
    max-width: 420px;
    border-radius: 50px 50px 5px 50px;
    overflow-wrap: break-word;
}

/*Modules
-------------------------------------------------*/
.dropDwnHeader {
  background-color: $color_purple;
  height: 3.75rem;
  width: 100%;
  position: fixed;
  box-shadow: $shadow1;
  display: none;
  z-index: 1;
  
  .dropDwnHeader__logo {
    max-height: 3.125rem;
    margin: 0.3125rem;
    vertical-align: top;
  }

  .dropDwnHeader__title {
    display: inline-block;
    margin: 0;
    padding: 6px;
    font-size: 2.5rem;
    a {
      text-decoration: none; 
      color: white;
    }
  }

  .dropDwnHeader__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 12px;

    ul {
    display: inline;
    list-style-type: none;
    }
 
    li {
      display: inline;
      padding: 0 20px 0 0;
      font-size: 28px;

    }

    a {
      text-decoration: none; 
      color: white;
    }
  }
  
  @media screen and (max-width: 310px){
   .dropDwnHeader__title {
      font-size: 10vw;
    }
    .dropDwnHeader__logo {
      max-height: 2.125rem;
    }
  }

  @media screen and (max-width: 530px){
    .dropDwnHeader__menu {
      display: none;
    }
  }
}

.section0 {
  @extend %sections;
  background-color: $color_purple;
  text-align: center;
  padding: 4.25rem;
  height:100vh;
  
  .section0__title {
    margin-top:10px;
    margin-bottom: 10px;
  }

  .section0__logo {
    max-height: 50%;
    max-width:50%;
    margin: 5px;
    vertical-align: top;
  }

  .section0__subheading {
    margin-top: 5px;
  }

// Arrow animation
  $size: 15px;
  $speed: 3s;
  $peakopacity:0.7;

  @keyframes arrows {
    0% {
        border-left:$size/3 solid rgba(225,225,225,0);
        border-bottom:$size/3 solid rgba(225,225,225,0);
        transform:translate($size/-6,$size*4/-6)rotate(-45deg) ;
    }
    10%, 90% {
        border-left:$size/3 solid rgba(225,225,225,0);
        border-bottom:$size/3 solid rgba(225,225,225,0);
    }
    50% {
        border-left:$size/3 solid rgba(225,225,225,$peakopacity);
        border-bottom:$size/3 solid rgba(225,225,225,$peakopacity);
        transform:translate($size/-6,0px)rotate(-45deg) ;
    }
    100% {
        border-left:$size/3 solid rgba(225,225,225,0);
        border-bottom:$size/3 solid rgba(225,225,225,0);
        transform:translate($size/-6,$size*4/6)rotate(-45deg) ;
    }
  }

  .arrows {
      position: relative;
      /**/
      position: absolute;
      top:90%;
      left:50%;
      /**/
      width:$size;
      height:$size;
      transform:translate(-50%,-50%);
      &:before {
        content: '';
        position: absolute;
        width:100%;
        height:100%;
        border-left:$size/3 solid rgba(225,225,225,$peakopacity);
        border-bottom:$size/3 solid rgba(225,225,225,$peakopacity);
        transform:translate($size/3,$size*4/3)rotate(-45deg);
        animation: arrows $speed linear infinite;
      }
      &:after {
        content: '';
        position: absolute;
        width:100%;
        height:100%;
        border-left:$size/3 solid rgba(225,225,225,$peakopacity);
        border-bottom:$size/3 solid rgba(225,225,225,$peakopacity);
        transform:translate($size*2/3,0px)rotate(-45deg) ;
        animation: arrows $speed linear infinite $speed/-2;
      }
    }
}

.section1 {
  @extend %sections;
  background-color: black;
  background-image: url("../images/baby-499976_640.jpg");
  background-attachment: fixed;

  .section1--textbox {
    @extend %textbox;
    background-color: $color_green--opaque;
  }

  .section1--text {
    padding: 22px;
  }
}

.section2 {
  @extend %sections;
  background-color: $color_pink;
}

.section3 {
  @extend %sections;
  background-color: black;
  background-image: url("../images/baby-21098_640.jpg");
  background-attachment: fixed;

  .section3--textbox1 {
    @extend %textbox;
    background-color: $color_pink--opaque;
    border-radius: 50px 50px 50px 5px;
    float: right;
    margin-bottom: 60px;
  }

  .section3--textbox2 {
    @extend %textbox;
    background-color: $color_purple--opaque;
    clear:both;
  }

  .section3--text {
    padding: 22px;

    p {
      margin-block-start: 0;
    }
  }
}

.section4 {
  @extend %sections;
  background-color: $color_green;
}

#section5 {
  @extend %sections;
  background-color: black;
  background-image: url("../images/childhood-2923988_640.jpg");
  background-attachment: fixed;
  text-shadow: $text_shadow;
  display:none;
}

footer {
  background-color: $color_purple;
  height: 60px;
  box-shadow: $shadow1_top;
}


